/* ===============================
   🎨 SYSTEM DEFAULT VARIABLES
================================== */
:root {
  /* Layout Heights */
  --header-height: 60px;
  --footer-height: 22px;

  /* Theme Defaults */
  /*  --accent-color: #0dcaf0;         /* Bootstrap success green */
  /* --text-color: #000000;
  --input-bg: #f8f9fa;
  --search-bg: #ffffff; */
}
