/* ===============================
   🎨 SYSTEM DEFAULT VARIABLES
================================== */
:root {
  /* Layout Heights */
  --header-height: 50px;
  --footer-height: 25px;

  /* Buttons fallback */
  --btn-bg: var(--bs-dark);
  --btn-color: var(--bs-light);
  --btn-border: var(--bs-dark);

  /* Search results fallback */
  --result-hover-bg: var(--bs-secondary);
  --result-hover-color: var(--bs-light);
}
